* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* justify-content: left; */
}


/* --------------------------------Loader-------------------------------------- */

.loader_bg {
    position: absolute;
    z-index: 999999;
    background: linear-gradient(93.12deg, #999917 0.52%, #d4d417 100%);
    align-content: center;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    top: calc(50vh - 75px);
    left: calc(50vw - 75px);
}

.loader::before,
.loader::after {
    content: '';
    border: 1em solid #ee3309;
    border-radius: 30%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader::before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    30% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        opacity: 2;
    }
    80% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}


/* -------------------------------------------Main----------------------------------- */

.main {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(119, 6, 6, 0.089), rgba(4, 9, 30, 0.7)), url(img/b1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    /* justify-content: center; */
    /* align-items: center; */
}

.container {
    justify-content: center;
    align-items: center;
}

header nav {
    display: flex;
    padding: 4px 25px;
    width: 100%;
    justify-items: space-between;
    align-items: center;
    background: #dfe1d4;
    /* position: fixed; */
    position: sticky;
    top: 0px;
    transition: 0.6s;
    z-index: 100000;
}

header nav img {
    width: 60px;
    margin-left: 100%;
    background-color: #cccc8a;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
    transition: 0.6s;
}

header .nav-links {
    flex: 1;
    text-align: center;
}

header .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

header .nav-links ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 100%;
    font-weight: bold;
}

header .nav-links ul li:hover::after {
    background-color: #f44336;
    margin: auto;
}

header .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: aqua;
    display: block;
    margin: auto;
    transition: 0.5s;
}

header .nav-links ul li:hover::after {
    width: 100%;
}

header.sticky {
    padding: 5px 100px;
    background: #fff;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000
}

nav .fa {
    display: none;
}


/* ----------------Footer------------ */

.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #0b70f385;

}

.footer h3 {
    margin-bottom: 15px;
    margin-top: 0px;
    font-weight: 800;
}

.footer p {
    font-size: 16px;
    font-weight: 600;
}

.icons .fa {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px o;
}


/* ----------------------chatBot------------------- */

*,
html {
    --primaryGradient: linear-gradient(93.12deg, #999917 0.52%, #d4d417 100%);
    --secondaryGradient: linear-gradient(268.91deg, #888815 -2.14%, #c7c714 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --primary: #831313;
}


/* ------------========----------CHATBOX--------===========-------- */

.chatbox {
    /* position: relative; */
    margin: auto;
    bottom: 25px;
    right: 30px;
    padding: 1% 15%;
    padding-bottom: 3%;
    justify-content: center;
    display: flex;
}


/* --------------------------CONTENT IS CLOSE------------------ */


/* CONTENT ISOPEN */

.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
}


/* BUTTON */

.send__button {
    padding: 6px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}


/* CHATBOT SUPPORT*/

.chatbox__support {
    display: flex;
    flex-direction: column;
    height: 550px;
    width: 700px;
}


/* CHATBOT SUPPORT*/

.chatbox__support {
    background: #f9f9f9;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    opacity: 79%;
}


/* HEADER */

.chatbox__header {
    position: static;
    top: 0;
    background: orange;
}


/* HEADER */

.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
    margin-right: 15px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: white;
}

.chatbox__description--header {
    font-size: 1.3rem;
    color: white;
}


/* MESSAGES */

.chatbox__messages {
    margin-top: auto;
    display: flex;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    background: orange;
    max-width: 60.6%;
    width: fit-content;
}

.messages__item--operator {
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}


/* Messages */

.chatbox__messages {
    padding: 0 20px;
}

.messages__item {
    margin-top: 10px;
    background: #E0E0E0;
    padding: 8px 12px;
    max-width: 70%;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
}


/* FOOTER */

.chatbox__footer {
    position: static;
    bottom: 0;
}


/* FOOTER */

.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: 20px;
}

.chatbox__footer input {
    width: 80%;
    border: none;
    font-weight: 600;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: left;
}

.chatbox__send--footer {
    color: white;
    font-size: 1.2rem;
}


/* ---------------------Media------------------ */


/* -------============-----------Inside cahtbox Media content-------=============------------ */

@media(max-width: 700px) {
    header nav {
        padding: 4px 10px;
    }
    header nav img {
        width: 50px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        background: #f44336;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #971515c2;
        margin: 10px;
        padding-left: 50px;
        font-size: 20px;
        text-align: left;

        cursor: pointer;
    }
    .nav-links ul {
        padding: 20px;
    }
    .row {
        flex-direction: column;
    }
    .contact h1 {
        font-size: 24px;
    }
    .chatbox {
        margin: 70px;
        display: flex;
        margin: auto;
        padding: auto;
        /* padding: 20px */
        bottom: 5px;
        right: 5px;
    }
    .chatbox__support {
        height: 450px;
        width: 350px;
    }
    .chatbox__header {
        padding: 0 2px;
    }
    .chatbox__image--header {
        margin-right: 1px;
    }
    .chatbox__heading--header {
        font-size: 1rem;
        color: white;
    }
    .chatbox__description--header {
        font-size: 0.8rem;
        color: white;
    }
    .chatbox__footer {
        padding: 5px 5px;
        margin-top: 5px;
    }
    .chatbox__footer input {
        width: 70%;
        padding: 5px 5px;
        font-weight: 600;
    }
    .chatbox__send--footer {
        color: white;
        font-size: 0.9rem;
    }
    .chatbox__messages {
        padding: 0 10px;
    }
    .messages__item {
        margin-top: 5px;
        background: #5a0e0e;
        padding: 6px 7px;
        max-width: 30%;
        font-size: 12px;
    }
}